@use'./global.scss';
@use 'sass:math';
@use 'sass:map';

//elementPlus覆盖样式
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    //参考文件 https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/common/var.scss
 
    $colors:(

        'white': #ffffff,
        'black': #000000,
        'primary': (
          'base': #409eff,
        ),
        'success': (
          'base': #67c23a,
        ),
        'warning': (
          'base': #e6a23c,
        ),
        'danger': (
          'base': #f56c6c,//表单错误信息
        ),
        'error': (
          'base': #f56c6c,
        ),
        'info': (
          'base': global.$color-black-60,//ElMessage提示框
        ),
    ),
      
    $text-color:(
         
        'primary': global.$color-black-80,//el-tabs未选中项
        'regular': global.$color-black-80,//输入框文字
        'secondary': global.$color-black-60,
        'placeholder': global.$color-black-50,//输入框placeholder
        'disabled': global.$color-black-45,//输入框失去焦点鼠标经过边框变色
          
    ),
    $border-color: (
        '': global.$color-black-40,//输入框边框
        'light': global.$color-black-30,//el-dropdown边框
        'lighter': global.$color-black-30,//el-dropdown分隔线
        'extra-light': #f2f6fc,//回到顶部鼠标经过背景
        'dark': #d4d7de,
        'darker': #cdd0d6,
    ),

    $fill-color: (
        '': global.$color-black-20,//骨架屏颜色
        'light': global.$color-black-10,//输入框disabled背景
        'lighter': global.$color-black-20,//表格隔行变色
        'extra-light': #fafcff,
        'dark': #ebedf0,
        'darker': #e6e8eb,
        'blank': #ffffff,//输入框背景
    ),
    $bg-color:(
        '': #ffffff,
        'page': #f2f3f5,
        'overlay': #ffffff,
    ),



    $input:(
      'bg-color': global.$color-black-10,//背景
      'border-color': global.$color-black-10,//边框颜色
      'hover-border-color': global.$color-black-30,//鼠标经过边框颜色
    ),
 
    $select: (
      'border-color-hover': global.$color-black-30,//鼠标经过边框颜色
    )
);


//表单项下边距
.el-form-item--large {
    margin-bottom: 22px;
}
//表单错误信息
.el-form-item--large .el-form-item__error {
    padding-top: 8px;
    line-height: 20px;
    position: relative;
    top: 0;
    margin-bottom: -10px;
    font-size: 13px;
    width: 100%;
}
//表单错误边框
.el-form-item.is-error .el-input__wrapper {
    box-shadow: 0 0 0 1px transparent inset;
    background: #fcf2f3;
}
.el-form-item.is-error .el-textarea__inner{
    box-shadow: 0 0 0 1px transparent inset;
    background: #fcf2f3;
}
.el-form-item--large .el-form-item__content {
    line-height: normal;
}
//.el-input__inner::placeholder {
//    position: relative;
//    top: 1px;
//}

//.el-button--primary{
//   padding: 10px 15px 10px 15px;
//}

//文本表单
.textForm-container{
    margin-top: 15px;
    

    :deep(.el-input__wrapper) {
        padding: 1px 15px 1px 0px;
        
        background: global.$color-black-23;
        padding-left: 7px;
        padding-right: 7px;
        margin-left: -7px;
        margin-right: -7px;
        box-shadow: 0 0 0 1px global.$color-black-23 inset;
    }
    :deep(.el-input__wrapper:hover) {
        box-shadow: 0 0 0 1px global.$color-black-30 inset;
    }
    :deep(.el-input__wrapper.is-focus) {
        box-shadow: 0 0 0 1px global.$color-blue-60 inset;
    }

    :deep(.el-select .el-select__tags .el-tag--info) {
        background-color: global.$color-black-35;
    }

    :deep(.el-textarea__inner){
        background-color: global.$color-black-23;
    }
   // :deep(.el-input__wrapper.is-focus) {
    //    box-shadow: 0px -1px 0px 0px transparent,//上边阴影
   //          -1px 0px 0px 0px transparent,//左边阴影
   //          1px 0px 0px 0px transparent,//右边阴影
    //         0px 1px 0px 0px $color-blue-60;//下边阴影
   // }
   // :deep(.el-input__inner) {
   //     height: 34px;
   //     line-height: 34px;
   // }
    //表单错误边框
    :deep(.el-form-item.is-error .el-input__wrapper)  {
        box-shadow: 0 0 0 1px global.$color-black-10 inset;
        background: #fcf2f3;
        padding-left: 7px;
        padding-right: 7px;
        margin-left: -7px;
        margin-right: -7px;
    }

    

    .view-field{
        background: global.$color-black-10;
       
        width: 100%;
        padding: 10px;
        .input-name{
            font-size: 13px;
            margin-left: 5px;
            margin-right: 5px;
            color: global.$color-black-50;
        }
        .isRequired:before {
            content: "*";
            color: #F56C6C;
            margin-right: 4px;
            position: relative;
            top: 3px;
        }
        .textInput-content{
            margin-top: 8px;
            line-height: 26px;
            margin-left: 5px;
            margin-right: 5px;
        }
        .formInput-content{
            margin-top: 10px;
            margin-bottom: 2px;
            margin-left: 5px;
            margin-right: 5px;
        }
        .help{
            margin-top: 8px;
            line-height: 26px;
            color: global.$color-black-50;
            .help-icon{
                position: relative;
                top: 4px;
                margin-right: 5px;
            }
            .help-text{
                font-size: 13px;
            }
        }
    }
    .smsCode-item{
        :deep(.el-input__wrapper) {
            padding: 1px 15px 1px 15px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 0px;
            margin-right: 0px;
            background: global.$color-black-10;
            box-shadow: 0 0 0 1px global.$color-black-10 inset;
        }
        :deep(.el-input__wrapper:hover) {
            box-shadow: 0 0 0 1px global.$color-black-30 inset;
        }
        :deep(.el-input__wrapper.is-focus) {
            box-shadow: 0 0 0 1px global.$color-blue-60 inset;
        }
        .isRequired:before {
            content: "*";
            color: #F56C6C;
            margin-right: 4px;
            position: relative;
            top: 3px;
        }
        .smsCode{
            width: 170px;
            text-align: right;
            .button{
                color: global.$color-blue-60;
                margin-right: 16px;
                &:hover{
                    color: global.$color-blue-50;
                }
            }
            .countdown{
                color: global.$color-blue-60;
            }
            
        }
    }
    :deep(.is-error.smsCode-item){
        .el-input__wrapper {
            box-shadow: 0 0 0 1px #fcf2f3 inset;
            background: #fcf2f3;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    .successInfo{
        margin-bottom: 18px;
        font-size: 14px;
        color: green;
        line-height: 20px
    }
    
    .captcha-item{
        .captchaInput{
            width: 130px;
        }
        .replaceCaptchaText{
            position: relative;
            top: 10px;
            user-select:none;
        }
        .isRequired:before {
            content: "*";
            color: #F56C6C;
            margin-right: 4px;
            position: relative;
            top: 3px;
        }
        :deep(.el-form-item__error){
            width: 100%;
        }
        :deep(.el-input__wrapper) {
            padding: 1px 15px 1px 15px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 0px;
            margin-right: 0px;
            background: global.$color-black-10;
            box-shadow: 0 0 0 1px global.$color-black-10 inset;
        }
        :deep(.el-input__wrapper:hover) {
            box-shadow: 0 0 0 1px global.$color-black-30 inset;
        }
        :deep(.el-input__wrapper.is-focus) {
            box-shadow: 0 0 0 1px global.$color-blue-60 inset;
        }
    }
    :deep(.is-error.captcha-item){
        .el-input__wrapper {
            box-shadow: 0 0 0 1px #fcf2f3 inset;
            background: #fcf2f3;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 0px;
            margin-right: 0px;
        }
    }


}


//表格
.dataTable{
    font-size: 15px;
    tr{
        background-color: global.$color-black-20;
    }
    
    //行边框线
    th.el-table__cell.is-leaf, td.el-table__cell {
        border-bottom: 1px solid transparent;
    }
    //底部边框线
    .el-table--border::after, 
    .el-table--border::before, 
    .el-table--border .el-table__inner-wrapper::after,
    .el-table__inner-wrapper::before {
        background-color: transparent;
    }
    //鼠标经过变色
    .el-table__body tr:hover>td.el-table__cell {
        background-color: global.$color-black-25;
    }
    //单元格
    .el-table__cell{
        padding: 12px 0 12px 0;
    }
    .cell {
        line-height: 26px;
    }
    //.el-button.is-link {
    //  padding: 1px 0px 2px 0px;
    //}

    .userInfo{
        display: flex; 
        align-items: center;
        .cancelAccount{
            display: inline-block;
            vertical-align: middle;
            padding: 6px 6px;
            font-size: 14px;
            line-height: 14px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            color: global.$color-black-50;
            background-color: global.$color-black-10;
        }
        .avatarImg{
            img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
                border-radius:40px;
                vertical-align: middle;
            }
        }
        .account{
            position: relative;
            top: 1px;
        }  
    }
}

//ElLoading自定义样式--无遮罩
.loading-noOverlay-custom {
    pointer-events: none;
}


 //透明气泡
 .popper-transparent.is-dark{
    background: global.$color-black-100;
    border: 1px solid transparent;
    opacity: 0.6;
    .el-popper__arrow::before{
        border: 1px solid transparent;
        background: global.$color-black-100;
    }
 }


 /* Tooltip 标签自定义主题  */
.el-popper.is-tag-customized {
	/* 设置padding保证高度为32px */
	padding: 6px 12px;
    background:#000; 
    opacity:0.6; 
    color: #fff;
    font-size: 14px;
	//background: linear-gradient(90deg, rgb(159, 229, 151), rgb(204, 229, 129));
}
  
.el-popper.is-tag-customized .el-popper__arrow::before {
	//background: linear-gradient(45deg, #b2e68d, #bce689);
    background:#000; 
}



//Prism代码高亮
:deep(code[class*="language-"]),
:deep(pre[class*="language-"]) {
    line-height: 1.6; 
}
:deep(pre[class*="language-"]).line-numbers {
	overflow-y: hidden;/*隐藏垂直滚动条*/
}
//符号会有白色背景
:deep(.style) .token.string {
	color: #9a6e3a;
	/* This background color was intended by the author of this theme. */
	//background: hsla(0, 0%, 100%, .5);
    background: transparent;
}
:deep(:not(pre)) > code[class*="language-"],
:deep(pre[class*="language-"]) {
	background: #f7f7f7;
}
:deep(.line-numbers) .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: -2px;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
    border-right: 1px solid transparent;
	/**border-right: 1px solid #999;**/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    line-height: 1.6; 
    &:before{
        content: "";
        display: block;
        position:absolute;
        width: 100%;
        height: 18px;
        background: #eff2f3;
        top: -18px;
    }
    &:after{
        content: "";
        display: block;
        position:absolute;
        overflow:hidden;
        width: 100%;
        height: 18px;
        background: #eff2f3;
        bottom: -18px;
        
    }
}
:deep(.line-numbers-rows) > span{
    pointer-events: none;
	display: block;
	counter-increment: linenumber;
    &:before {
        content: counter(linenumber);
        color: #869194;
        display: block;
        padding-right: 0.8em;
        text-align: right;
        height: 100%;
        background: #eff2f3;
    }
}
//复制按钮鼠标经过颜色
:deep(div.code-toolbar){
    > .toolbar{
        z-index: 1;
        > .toolbar-item{
            > a:hover,
            > button:hover,
            > button:focus,
            > span:hover,
            > span:focus{
                color:  global.$color-black-70;
            }
        }
    }

}

//回复时间线
.timeline{
    margin:0;
    font-size:14px;
    list-style:none;
    .timeline-item {
        position: relative;
       // padding-bottom: 20px;
        &:last-child{
            .tail{display:none}
        }
        .tail {
            position: absolute;
            left: 4px;
            top: 75px;
            height: 100%;
            border-left: 2px solid #79bbff;
        }
        .node--normal {
            left: -1px;
            width: 12px;
            height: 12px;
        }
        .node {
            position: absolute;
            background-color: #79bbff;
            border-color: #79bbff;
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 75px;
        }
    }
}







/** markdown样式 **/
.bytemd{
    //height: calc(100vh - 100px);
    height: auto;
    /**height: auto !important;自适应高度，和.bytemd-editor的min-height一起使用 **/

    border: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: #4e5969;

    /** codemirror 依赖隐藏的 textarea 计算行高，这里将字体大小设置为行高，避免输入法遮挡内容 **/
    .CodeMirror textarea {
      font-size: 36px;
    }
}
.bytemd-fullscreen{
  z-index: 102;
}
.bytemd-body .markdown-body ol{
	list-style: decimal;
}
.bytemd-body .markdown-body ol li{
	list-style-type:decimal;
    list-style-position:inside;
}
.bytemd-body .markdown-body ul{
	list-style: disc;
}
.bytemd-body .markdown-body ul li{
	list-style-type:disc;
}

.bytemd-body .markdown-body pre>code{
	font-size: 14px;
	overflow-x: visible;
}
.bytemd-body .markdown-body code{
	overflow-x: visible;
}
.bytemd-body .markdown-body .task-list-item{
    list-style-type:none;
}
.bytemd-body .markdown-body .line-numbers .line-numbers-rows{
	padding-top: 15px;
	padding-bottom: 15px;

    top: 0;
    border-right: 1px solid #86909C;
}
.bytemd-body .markdown-body .line-numbers .line-numbers-rows:before{
	background: transparent;
}
.bytemd-body .markdown-body .line-numbers .line-numbers-rows:after{
	background: transparent;
}
.bytemd-body .markdown-body .line-numbers .line-numbers-rows > span:before{
	background: transparent;
}
/** 隐藏‘源代码图标’ **/
.bytemd-toolbar-right [bytemd-tippy-path='5'] {
	display: none;
}
.bytemd-toolbar-icon{
    margin-left: 5px;
    margin-right: 5px;
}
.bytemd-toolbar {
   	padding: 8px 12px;
   /** border-bottom: 1px solid #e5e6eb !important;**/
   	border-bottom: 1px solid transparent;
    background-color: #fff;

	height: 32px;
	overflow: visible;
   
}
.bytemd-body {
   height: calc(100% - 68px);
   width: 100%;
   margin-top: 8px;
}
.bytemd-editor{
	/** min-height: calc(100vh - 100px) !important; **/
	border-top: 1px solid #e5e6eb;
	border-left: 1px solid #e5e6eb;
	border-right: 1px solid #e5e6eb;
	
	border-radius:4px 4px 0px 0px;
}

.bytemd-status{
	/**padding: 8px 12px !important;**/
	height: 26px;
	border: 1px solid #e5e6eb;
	border-radius:0px 0px 4px 4px;
}
.bytemd-split .bytemd-preview {
    border-left: 1px solid transparent;
	border-radius:4px 4px 0px 0px;
	
}
.bytemd-split .bytemd-editor{
	border-top-right-radius:0px;
}
.bytemd-split .bytemd-preview{
	border-top-left-radius:0px;
}
.bytemd-preview{
	border-top: 1px solid #e5e6eb;
	border-left: 1px solid #e5e6eb;
	border-right: 1px solid #e5e6eb;
	border-radius:4px 4px 0px 0px;
}
.bytemd-help-selectGrade{
	width: 100%;
}
.bytemd-help-gradeItem{
	width: 100%;
}
.bytemd-help-userGrade-needPoint{
	margin-right: 12px;
}
.bytemd-sidebar {
    border-left: 1px solid transparent;
	border-top: 1px solid #e5e6eb;
	border-top-left-radius:4px;
	margin-left: -1px;
	width: 281px;
}
/* bytemd图片遮罩层 */
.medium-zoom--opened .medium-zoom-overlay {
	opacity: 0.6;
    z-index: 109;
}
.medium-zoom--opened img {
	z-index: 110;
}
.bytemd-body iframe{
	width:100%; height: 360px;
}
.bytemd-body .player{
	width: 100%;
	height: 360px;
	display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #000;
    position: relative;
    text-align: center;
}
.bytemd-body .player .circle{
	display: inline-block;
	position: absolute;
	top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
	line-height:360px;
	border-radius:42px;
	width: 84px;
	height: 84px;
	background-color: rgba(255,255,255,0.2);
}
.bytemd-body .player .iconBox{
    display: block;
    position: relative;
    width: 84px;
    height: 84px;
	
}
.bytemd-body .player .iconBox .playIcon{
    font-size: 50px;
    position: absolute;  
    line-height:60px; 
    width: 42px;
    height: 42px;
    top: 0;  
    bottom: 0;  
    left: 0px;  
    right: 0;  
    margin: auto;
    color: #fff;
}
.bytemd-body .dplayer-process {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.bytemd-body .dplayer-process .box{
    position: relative;
    width: 100%;
    height: 100%;
}
.bytemd-body .dplayer-process .box .prompt{
	
    height: 72px;
    position: absolute;
    left: 0px;
    top: 30px;
    right: 0px;
    margin: auto;
   	padding :0px 30px;
   	border-radius :3px;
   	color: #fff;
   	line-height: 36px;
   	font-size: 20px;
   	background-color:rgb(0, 0, 0);
	opacity:0.7;
	filter:alpha(opacity=70);
	text-align: center;

	overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2;
}


.bytemd-body hide {
	border: 0;
	border-left: 3px solid #409EFF;
	margin-left: 10px;
	padding: 0.5em;
	min-height:26px;
	display: block;
	margin: 30px 0px 0px 0px;
	position: relative;
}
.bytemd-body .inputValue_10:before {
	content: '密码: ' attr(input-value) '';
	color: #409EFF;
	font-size:14px;
	position: absolute;
	margin-top: -30px;
	line-height: 30px;
}
.bytemd-body .inputValue_20:before {
	content: '回复话题可见';
	color: #409EFF;
	font-size:14px;
	position: absolute;
	margin-top: -30px;
	line-height: 30px;
}
.bytemd-body .inputValue_30:before {
	content: '达到等级 ' attr(description) ' 可见';
	color: #409EFF;
	font-size:14px;
	position: absolute;
	margin-top: -30px;
	line-height: 30px;
}
.bytemd-body .inputValue_40:before {
	content: '需要支付 ' attr(input-value) ' 积分可见';
	color: #409EFF;
	font-size:14px;
	position: absolute;
	margin-top: -30px;
	line-height: 30px;
}
.bytemd-body .inputValue_50:before {
	content: '需要支付 ' attr(input-value) ' 元费用可见';
	color: #409EFF;
	font-size:14px;
	position: absolute;
	margin-top: -30px;
	line-height: 30px;
}

.bytemd-toolbar .emoji-container {
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 999;
}
/* 编辑区滚动条 */
/* 滚动条宽度和高度 */
.bytemd-body .CodeMirror-vscrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
/*滚动条里面小方块*/
.bytemd-body .CodeMirror-vscrollbar::-webkit-scrollbar-thumb { 
	border-radius: 5px;
    background: #e5e6eb;
}
.bytemd-body .CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover{
	background-color:#d7dae0;
} 
/*滚动条里面轨道*/
.bytemd-body .CodeMirror-vscrollbar::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border-radius: 12px;
}


/* 预览区滚动条 */
/* 滚动条宽度和高度 */
.bytemd-preview::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
/*滚动条里面小方块*/
.bytemd-preview::-webkit-scrollbar-thumb {
	border-radius: 5px;
    background: #e5e6eb;
}
.bytemd-preview::-webkit-scrollbar-thumb:hover{
	background-color:#d7dae0;
} 
/*滚动条里面轨道*/
.bytemd-preview::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border-radius: 12px;
}

/* 帮助区滚动条 */
/* 滚动条宽度和高度 */
.bytemd-sidebar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
/*滚动条里面小方块*/
.bytemd-sidebar::-webkit-scrollbar-thumb {
	border-radius: 5px;
    background: #e5e6eb;
}
.bytemd-sidebar::-webkit-scrollbar-thumb:hover{
	background-color:#d7dae0;
} 
/*滚动条里面轨道*/
.bytemd-sidebar::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border-radius: 12px;
}











//修改来自
//import 'juejin-markdown-themes/dist/juejin.min.css';
//import 'github-markdown-css/github-markdown.css';
.markdown-body-custom {
  //  word-break: break-word;
  //  line-height: 1.75;
    font-weight: 400;
  //  font-size: 16px;
  //  overflow-x: hidden;//此属性和 el-image延迟加载有冲突
    overflow-x: visible;
 //   color: #252933;
}
  .markdown-body-custom h1,
  .markdown-body-custom h2,
  .markdown-body-custom h3,
  .markdown-body-custom h4,
  .markdown-body-custom h5,
  .markdown-body-custom h6 {
    line-height: 1.5;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .markdown-body-custom h1 {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 5px;
  }
  .markdown-body-custom h2 {
    font-size: 22px;
    line-height: 34px;
    padding-bottom: 12px;
    border-bottom: 1px solid global.$color-black-30;
  }
  .markdown-body-custom h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .markdown-body-custom h4 {
    font-size: 18px;
    line-height: 26px;
  }
  .markdown-body-custom h5 {
    font-size: 17px;
    line-height: 24px;
  }
  .markdown-body-custom h6 {
    font-size: 16px;
    line-height: 24px;
  }
  .markdown-body-custom p {
    line-height: inherit;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .markdown-body-custom img {
    max-width: 100%;
  }
  .markdown-body-custom hr {
    border-top: 1px solid global.$color-black-40;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .markdown-body-custom code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    word-break: break-word;
    border-radius: 2px;
    overflow-x: auto;
    background-color: #fff5f5;
    color: #ff502c;
  //  font-size: 0.87em;
    padding: 0.065em 0.4em;
  }
  /**
  .markdown-body pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    overflow: auto;
    position: relative;
    line-height: 1.75;
  }
  .markdown-body pre > code {
    font-size: 12px;
    padding: 15px 12px;
    margin: 0;
    word-break: normal;
    display: block;
    overflow-x: auto;
    color: #333;
    background: #f8f8f8;
  }**/
  .markdown-body-custom a {
    text-decoration: none;
   // color: #0269c8;
    //border-bottom: 1px solid #d1e9ff;
  }
  .markdown-body-custom a:hover, .markdown-body-custom a:active {
    color: #275b8c;
  }
  /**
  .markdown-body table {
    display: inline-block !important;
    font-size: 12px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: solid 1px #f6f6f6;
  }
  .markdown-body thead {
    background: #f6f6f6;
    color: #000;
    text-align: left;
  }
  .markdown-body tr:nth-child(2n) {
    background-color: #fcfcfc;
  }
  .markdown-body th,
  .markdown-body td {
    padding: 12px 7px;
    line-height: 24px;
  }
  .markdown-body td {
    min-width: 120px;
  }**/
  .markdown-body-custom blockquote {
    color: global.$color-black-60;
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 4px solid global.$color-black-40;
    background-color: global.$color-black-10;
  }
  .markdown-body-custom blockquote::after {
    display: block;
    content: "";
  }
  .markdown-body-custom blockquote > p {
    margin: 10px 0;
  }
  .markdown-body-custom ol,
  .markdown-body-custom ul {
    padding-left: 28px;
  }
  .markdown-body-custom ol li,
  .markdown-body-custom ul li {
    margin-bottom: 0;
    list-style: inherit;
  }
  .markdown-body-custom ol li .task-list-item,
  .markdown-body-custom ul li .task-list-item {
    list-style: none;
  }
  .markdown-body-custom ol li .task-list-item ul,
  .markdown-body-custom ol li .task-list-item ol,
  .markdown-body-custom ul li .task-list-item ul,
  .markdown-body-custom ul li .task-list-item ol {
    margin-top: 0;
  }
  .markdown-body-custom ol ul,
  .markdown-body-custom ol ol,
  .markdown-body-custom ul ul,
  .markdown-body-custom ul ol {
    margin-top: 3px;
  }
  .markdown-body-custom ol li {
    padding-left: 6px;
  }
  .markdown-body-custom .contains-task-list {
    padding-left: 0;
  }
  .markdown-body-custom .task-list-item {
    list-style: none;
  }
  @media (max-width: 720px) {
    .markdown-body-custom h1 {
      font-size: 24px;
    }
    .markdown-body-custom h2 {
      font-size: 20px;
    }
    .markdown-body-custom h3 {
      font-size: 18px;
    }
  }



